{#{% extends nglayouts.layoutTemplate %}#}
{% extends 'base.html.twig' %}
{#{% block html_tag %} data-bs-theme="dark"{% endblock %}#}

{#{% block title %}Grayscale - Start Bootstrap Theme{% endblock %}#}
{% block icon_link %}<link rel="icon" type="image/x-icon" href="{{ asset('static/favicon.ico') }}" />{% endblock %}
{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
{% endblock %}

{% block body_tag %}id="page-top"{% endblock %}

{% block navigation %}
    {% include 'frontend/_main_menu.nav.html.twig' %}
{% endblock %}

{% block body %}

    <!-- Masthead-->
    {% block masthead %}{% endblock %}

    <!-- About-->
    {% block about %}{% endblock %}
    <!-- Projects-->
    {% block projects %}{% endblock %}
    <!-- Signup-->
    {% block signup %}{% endblock %}


{% endblock %}

{% block footer %}
{% include('frontend/footer/_footer.html.twig') %}
    <!-- Contact-->
    {% block contact %}<!--
        <section class="contact-section bg-black">
            {% if app.request.get('_route') != 'app_launchpoints' %}
                
                <div class="container px-4 px-lg-5">
                    <div class="row mb-3 gx-4 gx-lg-5">
                        
                    </div>
                    <div class="row mb-3 gx-4 gx-lg-5">
                        <div class="col">
                            <p class="text-center text-white display-6">Event Contacts</p>
                        </div>
                    </div>
                    {% if app.request.get('_route') != 'app_launchpoints' %}
                        {{ component('contact_event_leaders') }}
                        
                    {% endif %}
                    <div class="social d-flex justify-content-center">
                        <a class="mx-2" href="https://www.facebook.com/encounterthecross/"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>-->
            {% endif %}
        </section>

    {% endblock %}
    
{% endblock %}
