{% extends 'frontend/blank_content_container.html.twig' %}

{% block content %}
    <div class="col">
        <div class="row justify-content-center">
            <div class="col-1">
                <i class="far fa-paper-plane fa-2x mb-2 text-dark text-center"></i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if not waitlist_enabled|default(false) %}
                    <h2 class="text-dark display-1 mb-5 text-center">{{ event.name|default('Event') }}  Registration</h2>
                {% else %}
                    <h2 class="text-dark display-1 mb-5 text-center">{{ event.name|default('Event') }} Waitlist Registration</h2>
                {% endif %}
                
            </div>
        </div>
    </div>



    <div class="card">
        <div class="card-body">
            {% if not waitlist_enabled|default(false) %}
                <h1>Thank You! Registration Completed.</h1>
            {% else %}
                <h1>Thank You! You have been added to the waitlist.</h1>
            {% endif %}
            
            <p>
                You will receive a confirmation email at the address entered on the registration page.  
                {% if not waitlist_enabled|default(false) %}
                    We look forward to seeing you at Encounter!
                {% endif %}
            </p>
        </div>
    </div>

{% endblock %}